@import url("normalize.css");
/* Utilities */
.u-title{
	color: #333;
	border-bottom: 2px dashed #333;
	font-weight: 400;
	text-align:center;
	padding-bottom: .5em;
	}
/* MainMenu */
.MainMenu {
	background: #1E1E1E;
	text-align: center;
	height: 3.75em;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
}
.MainMenu-list {
	margin: 0;
	padding: 0;
}
.MainMenu-item {
	display: inline-block;
}
.MainMenu-link {
	color: #00DBFF;
	text-decoration: none;
	line-height: 3.75em;
	margin-right: 1.5em;
}
/* Header */
	
.Header {
	margin-top: 2.5em;
	background-image: url('../images/portada.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	text-align: center;
	padding: 1.5em 0;
}
.Header-image {
	border: 5px solid white;
	border-radius: 50%;
}
.Header-name, .Header-link {
	color: white;
}
.Header-name {
	font-size: 1.5em;
	font-weight: 300;
	margin: 0;
}
.Header-link {
	font-size: 2.2em;
	font-weight: 600;
	text-decoration: none;
}
/* Profile */

.Profile {
	text-align:center;
}

.Profile-link{
	background: #300;
	color: white;
	text-decoration: none;
	padding: .5em 1em;
	border-radius: 2em;
	margin-right: 2em;
	}
/* Work */

.Work{
	margin-top: 2em;
	text-align:center
	}
	
.Work-item{
	display: inline-block;
	margin-right: 1.8em;
	margin-bottom: 25px;
	}

.Work-imageContainer{
	margin:0;
	}
	
.Work-description{
	font-size: 1.2em;
	color: #515151;
	font-style: italic;
	}
	
/* Footer */

.Footer{
	background-image:url(../images/footer.jpg);
	margin-bottom: 25px;
	background-repeat: no-repeat;
	background-position:center;
	background-size: cover;
	padding: 2em 0;
	text-align:center;
	}
	
.Footer-title{
	color: white;
	}
	
.Footer-mail{
	color: #F00;
	}
.Footer-text{
	background-color: rgb(0,0,0); opacity: 0.5;
	color:#FFF;
	}
.Footer-item{
	display: inline-block;
	margin-right: 1.8em;
	margin-bottom: 1.5;
	}
	
.Footer.left{
	vertical-align:top
	}
	
